config/Ripcord.yaml
config/BT2MQTT.yaml
config/MQTT2SQLite.yaml
config/RF24MQTT.yaml
config/Devices.yaml
config/server.crt
config/server.key
config/plugins/*
plugins/*
libs/RF24Node
libs/RF24
libs/RF24Network/
libs/csiphash.c
libs/oojah-mosquitto-1a6b97c6bcc4/
.venv
*.pyc
database.db
database.db-journal
