general:

    pidfile: /tmp/rf24mqtt.pid
    stderr: /tmp/rf24mqtt.err
    stdout: /tmp/rf24mqtt.log
    logging_level: 10
    duplicate_check_window: 1
    publish_undefined_topics: False
    default_topic_pattern: /raw/rf24/{id}

rf24:
    channel: 0x4c
    palevel: 2
    datarate: 0
    node: 0
    key: "0x00 0x01 0x02 0x03 0x04 0x05 0x06 0x07 0x08 0x09 0x0a 0x0b 0x0c 0x0d 0x0e 0x0f"

mqtt:
    client_id: rf24mqtt
